<header>
    <nav>
        <a routerLink="/">
            <div class="logo">
                <img src="img/logo.png" alt="imagen-logo">
                <h1>Ágora</h1>
            </div>
        </a>

        <div class="menu-usuario">
            @if (this.authService.usuario.acceso === "admin") {
                
                <a routerLink="/administracion/usuarios">Usuarios</a>
            }
            <a routerLink="/mi-perfil"> 
                <img [src]="authService.usuario.urlFotoThumbnail" alt="foto-perfil"> 
                Mi perfil
            </a>
            <button (click)="cerrarSesion()">Cerrar sesión</button>
        </div>
    </nav>
</header>