.publicacion {
  width: 78rem;
  padding: 2rem;
  margin: 5rem;
  border-radius: 10px;
  border: 1px solid var(--primary-color-dark);
  background-color: var(--bg-color);
  position: relative;
}

.opciones {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.opciones button {
  padding: 0.75rem;
}

.publicacion .header-publicacion {
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
}

.usuario {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
}

.usuario img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
}

.fecha {
  margin-left: auto;
  font-size: 1.4rem;
}

.publicacion h3 {
  font-size: 2.4rem;
  margin: 2rem 5%;
}

.publicacion p {
  font-size: 1.6rem;
  margin: 2rem 5%;
}

.publicacion .image-container {
  margin: 3rem 5%;
  width: 90%;
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color-dark);
  border-radius: 10px;
  position: relative;
}

.publicacion .image-background {
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  position: absolute;
  backdrop-filter: blur(25px);
  border-radius: 10px;
}

.publicacion .image-container img {
  z-index: 1;
  max-width: 100%;
  max-height: 50rem;
  border-radius: 10px;
}

.publicacion .footer-publicacion {
  margin: 1rem 5%;
  width: fit-content;
  display: flex;
  gap: 3rem;
}

.publicacion .footer-publicacion > div {
  padding: 1rem;
  display: flex;
  font-size: 1.8rem;
  border: 2px solid var(--primary-color-dark);
  border-radius: 20px;
  align-items: center;
  cursor: pointer;
}

.publicacion .footer-publicacion > div:hover {
  border: 2px solid var(--secondary-color);
  background-color: var(--bg-color-secondary);
}

.publicacion .footer-publicacion span {
  color: var(--secondary-color);
  margin-left: 5px;
}

.publicacion hr {
  margin: 3rem 0;
  color: var(--secondary-color);
}

.escribir-comentario {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.escribir-comentario textarea {
  height: 4rem;
  padding: 5px;
  font-size: 2rem;
  border-radius: 10px;
  flex-grow: 1;
}

.comentario {
  margin: 4rem 0;
  border-bottom: 1px solid var(--primary-color-dark);
}

.comentario:last-of-type {
  margin: 2rem 0;
  border-bottom: none;
}

.comentario .usuario {
  margin: 0 3rem;
}

.modificar-container {
  width: 40rem;
  max-height: 40rem;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid var(--primary-color-dark);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modificar-container textarea {
  height: 70%;
  padding: 1rem;
  max-width: 100%;
  min-width: 100%;
  outline: none;
  border: none;
  font-size: 1.6rem;
  border-radius: 5px;
}

.modificar-container > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
