section {
  width: 70%;
  background-color: var(--bg-color-secondary);
  border-radius: 10px;
  border: 2px solid var(--primary-color-dark);
  margin: 5rem auto;
  padding: 5rem;
}

section h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.alta-usuario form {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

.alta-usuario form input {
  border-radius: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-bottom: 2px solid #353535;
}

.alta-usuario form input:focus {
  border-color: #fff;
}

.tabla-usuarios {
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid var(--primary-color);
  font-size: 1.6rem;
  border-collapse: collapse;
}

.tabla-usuarios thead {
  background-color: var(--primary-color);
  color: #000;
}

.tabla-usuarios tr:nth-child(odd) {
  background-color: var(--bg-color);
}

.tabla-usuarios tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

.tabla-usuarios tr td:first-child {
  color: var(--secondary-color);
}

.tabla-usuarios td,
.tabla-usuarios th {
  text-align: center;
  padding: 1rem 0.7rem;
}

.tabla-usuarios .ordenar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabla-usuarios .ordenar button {
  margin: 0;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.1rem;
}
