<app-header></app-header>
<h1>Administración de usuarios</h1>
<section class="alta-usuario">
  <h2>Alta de usuarios</h2>
  <form [formGroup]="formulario">
    <div class="input-wrapper">
      <label for="nombre">Nombre</label>
      <input formControlName="nombre" type="text" id="nombre" />
    </div>
  
    <div class="input-wrapper">
      <label for="apellido">Apellido</label>
      <input formControlName="apellido" type="text" id="apellido" />
    </div>
  
    <div class="input-wrapper">
      <label for="username">
        Nombre de usuario <span style="font-size: 1.2rem">(Min. 4 caracteres)</span>
      </label>
      <input formControlName="username" type="text" id="username" />
    </div>
  
    <div class="input-wrapper">
      <label for="fechaNacimiento">Fecha de nacimiento</label>
      <input formControlName="fechaNacimiento" type="date" id="fechaNacimiento" />
    </div>
  
    <div class="input-wrapper">
      <label for="email">Email</label>
      <input formControlName="email" type="text" id="email" />
    </div>
  
    <div class="input-wrapper">
      <label for="pass">Contraseña</label>
      <input formControlName="pass" type="password" id="pass" />
    </div>

    <div class="form-buttons">
      <button (click)="guardarUsuario()">Guardar</button>
    </div>
  </form>
</section>

<section class="lista-usuarios">
  <table class="tabla-usuarios">
    <thead class="header-tabla-usuarios">
      <th>
        Username 
        <div class="ordenar">
          <button (click)="ordenarTabla('username')"><i class="icon-arrow-up"></i></button>
          <button (click)="ordenarTabla('username', true)"><i class="icon-arrow-down"></i></button>
        </div>
      </th>
      <th>
        Nombre 
        <div class="ordenar">
          <button (click)="ordenarTabla('nombre')"><i class="icon-arrow-up"></i></button>
          <button (click)="ordenarTabla('nombre', true)"><i class="icon-arrow-down"></i></button>
        </div>
      </th>
      <th>
        Apellido 
        <div class="ordenar">
          <button (click)="ordenarTabla('apellido')"><i class="icon-arrow-up"></i></button>
          <button (click)="ordenarTabla('apellido', true)"><i class="icon-arrow-down"></i></button>
        </div>
      </th>
      <th>
        Email 
        <div class="ordenar">
          <button (click)="ordenarTabla('email')"><i class="icon-arrow-up"></i></button>
          <button (click)="ordenarTabla('email', true)"><i class="icon-arrow-down"></i></button>
        </div>
      </th>
      <th>
        Fecha de inicio 
        <div class="ordenar">
          <button (click)="ordenarTabla('createdAt')"><i class="icon-arrow-up"></i></button>
          <button (click)="ordenarTabla('createdAt', true)"><i class="icon-arrow-down"></i></button>
        </div>
      </th>
      <th>
        Acceso 
        <div class="ordenar">
          <button (click)="ordenarTabla('acceso')"><i class="icon-arrow-up"></i></button>
          <button (click)="ordenarTabla('acceso', true)"><i class="icon-arrow-down"></i></button>
        </div>
      </th>
      <th>
        Estado 
        <div class="ordenar">
          <button (click)="ordenarTabla('eliminado')"><i class="icon-arrow-up"></i></button>
          <button (click)="ordenarTabla('eliminado', true)"><i class="icon-arrow-down"></i></button>
        </div>
      </th>
      <th>Eliminar</th>
    </thead>
    <tbody>
      @for (usuario of this.usuarios; track usuario._id) {
        <tr class="usuario">
          <td>{{usuario.username}}</td>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.apellido}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.createdAt | date:'dd/MM/yyyy'}}</td>
          <td [style.color]="usuario.acceso === 'admin' ? 'var(--secondary-color)' : ''">{{usuario.acceso}}</td>
          @if (usuario.eliminado) {
            <td style="color: red;">Eliminado</td>
            <td><button title="Restaurar" (click)="restaurarUsuario(usuario._id)"><i class="icon-spinner11"></i></button></td>
          }
          @else {
            <td>Activo</td>
            <td><button title="Eliminar" (click)="eliminarUsuario(usuario._id)"><i class="icon-blocked"></i></button></td>
          }
        </tr>
      }
    </tbody>
  </table>
</section>