<h1>Iniciar sesión</h1>
<div class="form-wrapper">
  <form [formGroup]="this.formulario">
    <div class="input-wrapper">
      <label for="email">Email o nombre de usuario</label>
      <input formControlName="email" type="text" id="email">
      <p></p>
    </div>

    <div class="input-wrapper">
      <label for="pass">Contraseña</label>
      <input formControlName="pass" type="password" id="pass">
      <p></p>
    </div>

    <div class="input-wrapper crear-cuenta">
      <span>¿No tienes una cuenta?</span>
      <a routerLink="/registro">Regístrate</a>
    </div>

    <div class="form-buttons">
      <button (click)="iniciarSesion()">Iniciar sesión</button>
    </div>
  </form>
</div>
