<app-header></app-header>
<div class="container">
    <nav>
        <label for="ordenar">Ordenar:</label>
        <select id="ordenar" (change)="seleccionarOrdenamiento($event)">
            <option value="fecha">Por fecha</option>
            <option value="likes">Por likes</option>
            <option value="dislikes">Por dislikes</option>
        </select>
        <button (click)="this.crearPublicacion()">Crear publicación</button>
    </nav>
    @for (publicacion of this.publicaciones; track publicacion._id) {
        <app-publicacion [publicacion]="publicacion"></app-publicacion>
    }
    @empty {
        <p>No hay publicaciones para mostrar</p>
    }
    @if (this.publicaciones.length > 0) {
        <button (click)="traerPublicaciones()" [style.display]="quedanPublicacionesPorTraer ? '' : 'none'" id="traer-mas">
            Cargar más
        </button>
    }
    <button id="volver-arriba" (click)="volverArriba()"><i class="icon-arrow-up"></i></button>
</div>

@if (this.mostrarCrearPublicacion) {
    <app-crear-publicacion (cerrarForm)="cerrarCrearPublicacion($event)"></app-crear-publicacion>
}
