.container {
  width: fit-content;
  padding: 5rem 7rem;
  margin: 0 auto;
  background-color: rgba(89, 89, 89, 0.25);
  overflow-y: scroll;
  max-height: calc(100vh - 7rem - 2px);
}

.container nav {
  margin: 2rem 5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container nav label {
  font-size: 1.6rem;
}

.container nav select {
  font-size: 1.6rem;
  padding: 2px 5px;
}

.container nav button {
  margin-left: auto;
}
