.container {
  width: fit-content;
  padding: 5rem 7rem;
  margin: 0 auto;
  background-color: rgba(89, 89, 89, 0.25);
  overflow-y: scroll;
  max-height: calc(100vh - 7rem - 2px);
  scroll-behavior: smooth;
}

.container nav {
  margin: 2rem 5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container nav label {
  font-size: 1.6rem;
}

.container nav select {
  font-size: 1.6rem;
  padding: 2px 5px;
}

.container nav button {
  margin-left: auto;
}

#volver-arriba {
  position: absolute;
  position: fixed;
  right: calc(50% - 50rem);
  bottom: 2rem;
  translate: -50% 0;
  border-radius: 50%;
  color: var(--secondary-color);
  font-size: 5rem;
  padding: 0px;
  border: none;
  z-index: 99;
  background-color: transparent;
}

#volver-arriba:hover {
  color: var(--primary-color-dark);
  background-color: transparent;
}
